/* Global resets */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;
	color: #424242;
	line-height: 1.4;
}

/* Fonts */
h1 {
	font-family: "rooney-web", "AmericanTypewriter", Rockwell, serif;
	font-size: 2.5em;
	font-weight: bold;
}

.container {
	margin: 2em auto;
	max-width: 630px;
	text-align: center;
}

/* The following font information and color codes are provided for you.
They do not match the prototype exactly, but they are fine to use for the
assignment and doing so does not count against you.  They are simply meant to help you save time.
We would like everyone to have as close to a pixel-perfect match to the prototype as possible.
If you do find a font/color that matches more precisely, please share it
with the team so we can improve the activity for future applicants.  Thank you!  Happy coding!

	FONTS:
	font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;
	font-family: "rooney-web", "AmericanTypewriter", Rockwell, serif;

  COLORS:
  blue: #20A1D4;
  green: #1CBC2C;
  orange: #EF5F3C;
  black: #424242;
  grey: #777;
  light grey: #eaeaea;
*/

/* Your CSS code goes here */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
	font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;
	color: #424242;
	line-height: 1.4;
}

/* Fonts */
h1 {
	font-family: "rooney-web", "AmericanTypewriter", Rockwell, serif;
	font-size: 10pt;
	font-weight: bold;
  color: #eaeaea;
  line-height: 3;
}

p {
	font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;
	color: #777;
	line-height: 1.4;
}

a:link {
  text-decoration: none;
  color: #20A1D4;
  font-size: 10pt;
  }

.container {
	margin: 2em auto;
	max-width: 630px;
	text-align: center;
}


.speech-bubble {
	background-color: #424242;
	width: 260px;
	height: 42px;
	text-align: center;
	border-radius: 3%;
	font-size: 4pt;
  margin-left: 2px;
  left: 33%;
  top 25%;
  position: absolute;

	}
  .speech-bubble .arrow-down {
  border-color: #424242 #424242 transparent transparent;
  border-style: solid;
  border-width: 0px 10px 11px 215px;
  width: 0;
  height: 0;

}

.b2-container {
	width: 260px;
	height: 15px;
	border-style: solid;
	border-color: #eaeaea;
	border-width: 2px;
	background-color: white;
  position: absolute;
  left: 33%;
  top: 53%;
}
.b2 {
	background-color: #EF5F3C;
	width: 79%;
	height: 100%;
	}

.b3 {
	background-color: white;
	width: 260px;
	height: 225px;
	border-style: solid;
	border-width: 2px;
	border-color: #eaeaea;
  text-align: left  !important;
  padding: 1em;
  overflow: auto;
  font-size: 10pt;
  position: absolute;
  left: 33%;
  top: 54.5%
}

input[type=text] {
	background-color: white;
	width: 100px;
	height: 45px;
  color: black;
  font-weight: bold;
  font-size: 10.8pt;
	border-radius: 8%;
	float: left;
	border-style: solid;
	border-width: 2px;
	border-color: #eaeaea;
	margin: 0px;
  padding: 8px;
	}

.b4{
  background-color: white;
	width: 8em;
	height: 3em;
	border-radius: 8%;
	float: left;
	border-style: solid;
	border-width: 5px;
	border-color: #eaeaea;
	margin: 1em;
	}


.b5 {
	background-color: 1cbc2c;
	width: 100px;
	height: 45px;
	border-radius: 8%;
	float: right;
	border-style: solid;
	border-width: 2px;
	border-color: #eaeaea;
  font-size: 10.5pt;
	}

.b6 {
	background-color: white;
	width: 125px;
	height: 39;
	color: #777;
  font-weight: bold;
  font-size: 8.5pt;
  border-radius: 7%;
	text-align: center;
	float: left;
	border-style: solid;
	border-width: 2px;
	border-color: #eaeaea;
  margin-top: 10px;
  position: absolute;
  left: 33%;
  top: 78%

	}

.b7 {
	background-color: white;
	width: 125px;
	height: 39px;
  color: #777;
  font-weight: bold;
  font-size: 8.5pt;
	border-radius: 7%;
	text-align: center;
	float: right;
	border-style: solid;
	border-width: 2px;
	border-color: #eaeaea;
  margin-top: 10px;
  position: absolute;
  left: 50.6%;
  top: 78%
	}


</style>
