/* Global resets */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;
	color: #424242;
	line-height: 1.4;
}

/* Fonts */
h1 {
	font-family: "rooney-web", "AmericanTypewriter", Rockwell, serif;
	font-size: 2.5em;
	font-weight: bold;
}

.container {
	margin: 2em auto;
	max-width: 630px;
	text-align: center;
}

/* The following font information and color codes are provided for you.
They do not match the prototype exactly, but they are fine to use for the
assignment and doing so does not count against you.  They are simply meant to help you save time.
We would like everyone to have as close to a pixel-perfect match to the prototype as possible.
If you do find a font/color that matches more precisely, please share it
with the team so we can improve the activity for future applicants.  Thank you!  Happy coding!

	FONTS:
	font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;
	font-family: "rooney-web", "AmericanTypewriter", Rockwell, serif;

  COLORS:
  blue: #20A1D4;
  green: #1CBC2C;
  orange: #EF5F3C;
  black: #424242;
  grey: #777;
  light grey: #eaeaea;
*/

/* Your CSS code goes here */

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>HTML/CSS Prototype</title>
    <link rel="stylesheet" href="CSS/stylesheet.css">
  </head>
  <body>
    <div class="container">
      <h1>Recreate this using HTML &amp; CSS</h1>
      <img src="https://s3.amazonaws.com/f.cl.ly/items/2z3C3Z0L2Q0R282p1V0z/Image%202014-12-19%20at%2010.07.09%20AM.png" width="303" />
    </div>

    <!-- Your code goes here -->


<style>
* {
  box-sizing: border-box;
  margin: 0;
	padding: 0;
}

body {
	font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;
	color: #424242;
	line-height: 1.4;
}

/* Fonts */
h1 {
	font-family: "rooney-web", "AmericanTypewriter", Rockwell, serif;
	font-size: 2.5em;
	font-weight: bold;
}

p {
	font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;
	color: #424242;
	line-height: 1.4;
}

.container {
	margin: 2em auto;
	max-width: 630px;
	text-align: center;
}


.b1 {
	background-color: #424242;
	width: 100%;
	height: 4em;
	text-align: center;
	border-radius: 3%;
	vertical-align: middle;
	font-size: 100%;
	}

.b2-container {
	width: 100%;
	height: 3%;
	border-style: solid;
	border-color: #eaeaea;
	border-width: 2px;
	background-color: white;
}
.b2 {
	background-color: #EF5F3C;
	width: 75%;
	height: 100%;
	}

.b3 {
	background-color: green;
	width: 100%;
	height: 20%;
	border-style: solid;
	border-width: 2px;
	border-color: #eaeaea;
  text-align: left  !important;
	padding: 1em;
}

input {
	background-color: white;
	width: 8em;
	height: 3em;
	border-radius: 3%;
	float: left;
	border-style: solid;
	border-width: 2px;
	border-color: #eaeaea;
	margin: 1em;
	}


.b5 {
	background-color: grey;
	width: 8em;
	height: 3em;
	border-radius: 3;
	text-align: center;
	float: right;
	border-style: solid;
	border-width: 2px;
	border-color: #eaeaea;
	margin: 1em;
	}

.b6 {
	background-color: purple;
	width: 10em;
	height: 3em;
	border-radius: 3;
	text-align: center;
	float: left;
	border-style: solid;
	border-width: 2px;
	border-color: #eaeaea;
	}

.b7 {
	background-color: purple;
	width: 10em;
	height: 3em;
	border-radius: 3;
	text-align: center;
	float: right;
	border-style: solid;
	border-width: 2px;
	border-color: #eaeaea;
	}


</style>
<div class="container">

  <div class="b1">

	  <font color="white">
    <h1> $167 still needed for this project </h1>
	  </font>


  </div>

  <div class="b2-container">
  <div class="b2"></div>
  </div>

  <div class="b3">
  	<p> <b> <font color= #EF5F3C>Only 3 days left</font></b> to fund this project.</p>
	  <p> Join the 42 other doners who have </br>
    already supported this project. Every </br>
    dollar helps </p>

	<div class="form">
    <form action="Give-Money">
      <input type="text" placeholder="$50" required>
    </form>
	</div>
	<div class="b5">
		<p> Give Now </p>
	</div>
	<br>
	<br>
	<a href="google.com"> <i> Why give $50? </i> </a>
</div>

<div class="b6">
	<p> Save for later </p>
</div>
<div class="b7">
	<p> Tell your friends </p>
</div>

</div>

</body>
</html>
